html {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
}

@media screen and (min-width: 960px) {
    .main {
        display: flex;
        justify-content: center;
    }

    .block-right {
        margin-left: 10rem;
    }

    .block-left {
        margin-right: 10rem;
    }
}

@media screen and (max-width: 959px) {
    .main {
        display: grid;
    }
}

header {
    text-align: center;
}

.block-top {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e1e1;
}


.copyright {
    margin: 5rem;
    text-align: center;
}